body {
    background-color: #001f3f; /* Bleu marine */
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.btn {
    background-color: #c40021; /* Rouge */
    color: #ffffff;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}

