body {
    background-color: #f3f7f4; 
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style du titre H1 */
h1 {
    color: #2b5d34;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 1px;
}
